.section {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  padding: 10rem;

  &__content {
    position: relative;
    max-width: 60rem;
    z-index: 10;

    @include respond(phone) {
      text-align: center;
    }
  }

  .section-services {
    padding: 10rem 4rem;

    @include respond(tab-port) {
      padding: 7rem 2rem;
    }

    @include respond(phone) {
      padding: 3rem 1rem;
    }
  }
}

.section-flex-column {
  flex-direction: column;
}
